@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0063B2FF;
}

header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9CC3D5FF;
    color: #0063B2FF;
    padding: 2rem;
    font-weight: bolder;
}

header img {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    animation: pulse 1 s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(2, 85, 168, 0);
    }

    100% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}

header h3 {
    margin: 1.5rem 0rem;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.container {
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.2fr;
    gap: 1rem;
    grid-template-areas: "profile profile skills skills"
        "edu edu edu lang"
        "contact contact contact contact"
        "footer footer footer footer";
    padding: 2rem;
}

.profile {
    background-color: #9CC3D5FF;
    color: #0063B2FF;
    padding: 2rem;
    grid-area: profile;
}

.skills {
    background-color: white;
    color: rgb(59, 184, 243);
    padding: 2rem;
    grid-area: skills;
}

.edu {
    background-color: #9CC3D5FF;
    color: #0063B2FF;
    padding: 2rem;
    grid-area: edu;
}

.lang {
    background-color: white;
    color: rgb(59, 184, 243);
    padding: 2rem;
    grid-area: lang;
}

.contact {
    background-color: #9CC3D5FF;
    color: #0063B2FF;
    padding: 2rem;
    grid-area: contact;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(59, 184, 243);
    padding: 2rem;
    grid-area: footer;
}

h2 {
    margin-bottom: 1rem;
}

.profile p {
    padding: 0.3rem 1rem;
    text-align: justify;
    line-height: 2rem;
}

.skills {
    width: 100%;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.skills div progress[value] {
    width: 100%;
    height: 1rem;
}


.edu p {
    padding: 0.5rem 1rem;
    text-align: justify;
    line-height: 2rem;
}

.edu h2 {
    letter-spacing: 0.1rem;
}

.edu a {
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    background: white;
    color: #0063B2FF;
    border-radius: 3px;
    font-weight: bold;
}

.lang ul {
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
}

.lang ul li {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
}

.contact i {
    margin-right: 0.5rem;
}

.contact p {
    margin: 1rem 0rem;
    cursor: pointer;
}

footer i {
    background-color: rgb(59, 184, 243);
    color: white;
    padding: 0.5rem;
    margin: 1rem 0.2rem;
    border-radius: 50%;
}